.navbar {
  background-color: #0a0903;

  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-item.active {
    border-left: 3px solid #fffaae;
  }

  .container .navbar-brand {
    color: #fffaae;
  }
}

#navbarCollapse .nav-link {
  color: #fffaae;
}

.carousel-item {
  height: 450px;
}